# virtual environment:
.venv/

# PyCharm configurations:
/.idea/

# logo creator with AutoCAD
/logo_designer/

# is not worthy...
/tests/

# cache files:
__pycache__/
.pytest_cache

# pyenv:
# .python-version			# just for now I'll push it. (maybe)

# AutoCAD backup files:
*.bak
